doctype html
html
  head
    title Okasha's Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
              img(src="../static/img/logo1.png", alt="Logo")
              |ODA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/valo") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us] 

    
    block content
    
    footer#footer 
        | Copyright © 2022 OkashaDanceAcademy.com | All rigths reserved.
