<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li a{
            text-decoration: none;

        }
        ul{
            display: flex;
            
            
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/">about</a></li>
            <li><a href="/">contact</a></li>
            <li><a href="/">more</a></li>
        </ul>
    </nav>
    <div>
        <form action="" method="post">

            <input type="text">
            <button>🔍</button>
        </form>
    </div>
</body>
</html>